@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --color-brand-yellow: #facc15;
  --color-brand-dark: #111111;
  --color-brand-black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  
  --color-brand-yellow: var(--color-brand-yellow);
  --color-brand-dark: var(--color-brand-dark);
  --color-brand-black: var(--color-brand-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #f4f4f5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
}
